.loader-main{
    height: 100vh;
    width: 100%;
    background-color: #DBFC53;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation-name: back;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    transition: .4s ease-in-out;
}
@keyframes back {
    85%{width: 100%;}
    100%{width: 0%;}
}

.loader-main .logo-img{
    margin: 35px;
    width: 70px;
    object-fit: contain;
    animation-name: rotate;
    animation-timing-function: ease;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 5;
    transition: .4s ease;
}




@keyframes rotate {  50% {transform: rotate(180deg);}   
}