.partner-main {
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 10px;
}
.tt {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  flex: 0.2;
  flex-direction: column;
}

.partner-head {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: #21201e;
}

.iuo {
  width: 30px;
  object-fit: contain;
}

.pname {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 800;
  color: #8a8d98;
  margin-top: 10px;
}
